---
layout: default
permalink: /teams/
---
<style>
    {% for C in site.data.colors %}
    .color-{{forloop.index0}} {border-left: 4px solid {{C}};}
    {% endfor %}
</style>
<div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%; margin-bottom: 10%">

        <a href="/"><img src="/images/favicon.png" class="avatar" alt="Puzzled Pint Bangalore Logo" /></a>

        <h2 role="heading">Teams</h2>
        <table>
          <tr>
            <th>Team</th>
            <th>Last Appearance</th>
            <th>Event</th>
            <th>Appearances</th>
          </tr>
            {% assign idx=1 %}
            {% for row in site.data.teams %}
            {% if row.results.size >= 2 %}
            <tr>
                <!-- <td>{{idx}}</td> -->
                
                <td class="team color-{{row.color_index}}" data-slug="{{row.slug}}">
                    <a href="/teams/{{row.slug}}/">{{row.name}}</a>
                </td>
                  
                <td class="time">
                  {% unless row.results.last.duration == "" %}
                  <span>{{row.results.last.duration}}</span>
                  {% endunless %}
                </td>
                <td>{{row.results.last.event | date:"%B %Y"}}</td>
                <td>{{row.results.size}}</td>
                
            </tr>
            {% endif %}
            
            {% endfor %}

          <!-- </tbody> -->
        </table>
      </div>
    </div>
</div>

<small>All teams with 2 or more appearances are shown</small>