---
layout: default
title: Puzzled Pint Bangalore
---
<div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%">

        <!-- 1Your Image Here -->
        <img src="images/favicon.png" class="avatar" alt="">

        <!-- Title -->
        <h1 role="heading">{{site.title}}</h1>

        <!-- Short Bio -->
        <p>{{site.description}}</p>

        {% assign currentEvent = site.data.events.last %}

        <p>{% assign lastDate = currentEvent.date | date:"%Y-%m-%d" %} {% assign today = site.time | date:"%Y-%m-%d" %}</p>
        <!-- If the date is in the future, then show registration link -->
        {% if lastDate >= today %}
        <a class="button button-default" href='https://insider.in/puzzled-pint-bangalore-{{"now"|date:"%B-%Y" | downcase }}/event' target="_blank" rel="noopener" role="button"><img class="icon" src="images/icons/generic-calendar.svg" alt="Registration Link for Next Puzzled Pint">Register for {{"now" | date:"%B %Y"}}</a><br>
        {% endif %}

        <!-- TODO: Need better label -->
        <a class="button button-default" href="/standings/" role=button>
          🏆 All Months Leaderboard
        </a>
        
        {% if lastDate==today %}
        <a class="button button-default" href='/standings/{{ currentEvent | date: "%Y-%m" }}/' role="button">🏅 Leaderboard {{currentEvent | date:"%B %Y"}}</a><br>
        {% endif %}

        <a class="button button-default" href='/teams/' role="button">📊 Teams</a><br>

        {% for link in site.links %}
        <a class="button button-{{link.button}}" href="{{link.url}}" target=_blank rel=noopener role=button>
            <img class=icon src=/images/icons/{{link.icon}}.svg alt="icon for {{link.icon}}">
            {{link.text}}
        </a><br>
        {% endfor %}

      </div>
    </div>
  </div>
