---
layout: default
---
{% assign B = page.badge.id %}
{% include color-style.html %}
<div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%; margin-bottom: 10%">

        <a href="/"><img src="/images/favicon.png" class="avatar" alt="Puzzled Pint Bangalore Logo" /></a>

        <h2 role="heading">{{page.badge.name}} {{page.badge.emoji}}</h2>
        <p>{{page.badge.description}}</p>
        <table>
          <tr>
            <th>Team</th>
          </tr>
            {% for t in site.data.teams %}
            {% if t.badges contains B %}
            <tr>
                <td class="team color-{{t.color_index}}" data-slug="{{t.slug}}">
                    <a href="/teams/{{t.slug}}/">{{t.name | escape}}</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>
      </div>
    </div>
  
</div>

