<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{site.description}}">
  <meta name="author" content="{{site.author}}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/normalize.css">

    <!-- Themes:
            Auto:   css/skeleton-auto.css
            Light:  css/skeleton-light.css
            Dark:   css/skeleton-dark.css
     -->
  <link rel="stylesheet" href="/css/skeleton-auto.css">

  <link rel="stylesheet" href="/css/brands.css">

  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>

<body>
  {{content}}
</body>

</html>
