---
layout: default
---
{% include color-style.html %}
<div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%; margin-bottom: 10%">

        <a href="/"><img src="/images/favicon.png" class="avatar" alt="Puzzled Pint Bangalore Logo" /></a>

        <h2 role="heading">{{page.event.date | date:"%B %Y"}} Teams</h2>
        <h4><a style="color: #76316e" href='https://puzzledpint.com/events/{{page.event.date|date:"%B-%Y" | downcase}}/'>{{page.event.theme}}</a></h4>
        <table>
          <tr>
            <th>#</th>
            <th>Team</th>
            <th>Start Time</th>
            <th>Solve Time</th>
          </tr>
            {% assign idx=1 %}
            {% assign rows = site.data.results | where: "Date", page.event.date %}
            {% if rows.size > 0 %}
            {% for row in rows %}
            <tr>
                <td>{{idx}}</td>
                
                <td class="team color-{{row.color_index}}" data-slug="{{row.slug}}">
                    <a href="/teams/{{row.slug}}/">{{row['Team Name']}}</a>
                    <span>{{row['Team Size']}} Players</span>
                </td>
                <td class="time">
                    <span>{{row['Start Time']}}</span>
                </td>
                <td class="time">
                    {% if row.solved %}
                    <span>
                    {{ row.duration | duration_to_string }}
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% assign idx=idx|plus:1 %}
            {% endfor %}
            {% else %}
            {% include live-standings.html sheetURL=page.event.sheetURL%}
            {% endif %}

        </table>
      </div>
    </div>
</div>