---
layout: default
---
<style>
    {% for C in site.data.colors %}
    .color-{{forloop.index0}} {border-left: 4px solid {{C}};}
    {% endfor %}
</style>
<div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%; margin-bottom: 10%">

        <img src="/images/favicon.png" class="avatar" alt="" />

        <h2 role="heading">{{page.month | date:"%B %Y"}} Teams</h2>
        <h4>{{page.event.theme}}</h4>
        <table>
          <!-- <thead> -->
          <tr>
            <th>#</th>
            <th>Team</th>
            <th>Start Time</th>
            <th>Solve Time</th>
          </tr>
          <!-- </thead> -->
          <!-- <tbody> -->
            {% assign idx=1 %}
            {% assign rows = site.data.results | where: "Date", page.event.date %}
            {% if rows.size > 0 %}
            {% for row in rows %}
            <tr>
                <td>{{idx}}</td>
                
                <td class="team color-{{row.color_index}}" data-slug="{{row.slug}}">
                    {{row['Team Name']}}
                    <span>{{row['Team Size']}} Players</span>
                </td>
                <td class="time">
                    <span>{{row['Start Time']}}</span>
                </td>
                <td class="time">
                    <span>
                    {{row['duration']}}
                    </span>
                </td>
            </tr>
            {% assign idx=idx|plus:1 %}
            {% endfor %}
            {% else %}
            {% include live-standings.html %}
            {% endif %}

          <!-- </tbody> -->
        </table>
      </div>
    </div>
</div>